<head>
  <meta property="og:url" content="https://corwinjs.github.io/AVLaneFollowingSimulation/" />
  <meta property="og:title" content="AV Lane Following Simulation" />
  <meta property="og:description" content="Real time lane detection and following using Unreal" />
  <meta property="og:image" content="https://user-images.githubusercontent.com/37941576/81483402-b3084c00-91f2-11ea-826a-dd3b8bd3f31c.png" />
  <meta property="og:type"  content="post" />
  <meta property="og:locale"  content="en_US" />
</head>